nav#menu-right
  ul
    li.mm-label.label-big ONLINE
    li.img.no-arrow.have-message
      span
        i.online
        img(src="assets/img/avatars/avatar3.png")
        .chat-name Alexa Johnson
        .pull-right.badge.badge-danger.hide 3
        div Los Angeles
      ul.chat-messages
        li.img
          span
            .chat-detail
              img(src="assets/img/avatars/avatar3.png")
              .chat-bubble Hi you!
        li.img
          span
            .chat-detail
              img(src="assets/img/avatars/avatar3.png")
              .chat-bubble You there?
        li.img
          span
            .chat-detail
              img(src="assets/img/avatars/avatar3.png")
              .chat-bubble Let me know when you come back
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.online
        img(src="assets/img/avatars/avatar2.png", alt="avatar 2")
        .chat-name Bobby Brown
        div New York
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.busy
        img(src="assets/img/avatars/avatar13.png", alt="avatar 13")
        .chat-name Fred Smith
        div Atlanta
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.away
        img(src="assets/img/avatars/avatar4.png", alt="avatar 4")
        .chat-name James Miller
        div Seattle
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.online
        img(src="assets/img/avatars/avatar5.png", alt="avatar 5")
        .chat-name Jefferson Jackson
        div Los Angeles
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.mm-label.label-big.m-t-30 OFFLINE
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar6.png", alt="avatar 6")
        .chat-name Jordan
        div Savannah
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar7.png", alt="avatar 7")
        .chat-name Kim Addams
        div Birmingham
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar8.png", alt="avatar 8")
        .chat-name Meagan Miller
        div San Francisco
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar9.png", alt="avatar 9")
        .chat-name Melissa Johnson
        div Austin
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar12.png", alt="avatar 12")
        .chat-name Nicole Smith
        div San Diego
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar11.png", alt="avatar 11")
        .chat-name Samantha Harris
        div Salt Lake City
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")
    li.img.no-arrow
      span
        i.offline
        img(src="assets/img/avatars/avatar10.png", alt="avatar 10")
        .chat-name Scott Thomson
        div Los Angeles
      ul.chat-messages
        .chat-input
          input.form-control.send-message(type="text", placeholder="Type your message")