nav#sidebar
  #main-menu
    ul.sidebar-nav
      li.current
        a(href="/dashboard", ng-click="pagetitle('Dashboard')")
          i.fa.fa-dashboard
          span.sidebar-text Dashboard
      li
        a(href="/viewmanageremployee", ng-click="pagetitle('Employee')")
          i.glyph-icon.flaticon-account
          span.sidebar-text Employees
      li
        a(href="/viewmanagerclient", ng-click="pagetitle('Client')")
          i.glyph-icon.flaticon-account
          span.sidebar-text Clients
      li
        a(href="/eventlist", ng-click="pagetitle('Event')")
          i.glyph-icon.flaticon-star105
          span.sidebar-text Events
      //
        li
          a(href="/schedulelist")
            i.fa.fa-check-circle
            span.sidebar-text Schedule
      //
        li
          a(href="../frontend/index.html", target="_blank")
            i.fa.fa-check-circle
            span.sidebar-text Availability
      //
        li
          a(href="#")
            i.glyph-icon.flaticon-email
            span.sidebar-text Time off request
            span.fa.arrow
          ul.submenu.collapse
            li
              a(href="mailbox.html")
                span.sidebar-text Inbox
            li
              a(href="email_compose.html")
                span.sidebar-text Write a Message
      //
        li
          a(href="#")
            i.fa.fa-table
            span.sidebar-text Schedule Notes
            span.fa.arrow
          ul.submenu.collapse
            li
              a(href="tables.html")
                span.sidebar-text Style Tables
            li
              a(href="tables_editable.html")
                span.sidebar-text Editable Tables
            li
              a(href="tables_dynamic.html")
                span.sidebar-text Dynamic Tables
      br
  .footer-widget
    .footer-gradient
    .sidebar-footer.clearfix
      //
        a.pull-left(href="profil_edit.html", rel="tooltip", data-placement="top", data-original-title="Settings")
          i.glyph-icon.flaticon-settings21
      //
        a.pull-left.toggle_fullscreen(href="#", rel="tooltip", data-placement="top", data-original-title="Fullscreen")
          i.glyph-icon.flaticon-fullscreen3
      //
        a.pull-left(href="lockscreen.html", rel="tooltip", data-placement="top", data-original-title="Lockscreen")
          i.glyph-icon.flaticon-padlock23
      a.pull-left(href="#", title="Logout", ng-click="logout()", ng-controller="LogoutController")
        i.fa.fa-power-off