.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Employee Listing
.row(ng-show="visibility")
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6
        .col-md-6
          .DTTT_container
            a.btn.btn-success.m-t-10(href="/addemployee")
              i.fa.fa-plus.p-r-10
              | Add Employee
      .panel-body
        .row
          .col-md-12.col-sm-12.col-xs-12.table-responsive
            table.table.table-striped.table-hover
              thead.no-bd
                tr
                  th
                    a(href="", ng-click="reverse=!reverse;order('first_name', reverse)")
                      strong First Name
                  th
                    a(href="", ng-click="reverse=!reverse;order('last_name', reverse)")
                      strong Last Name
                  th
                    a(href="", ng-click="return false;")
                      strong Image
                  th
                    a(href="", ng-click="reverse=!reverse;order('address.line1', reverse)")
                      strong Address
                  th
                    a(href="", ng-click="reverse=!reverse;order('date_of_birth', reverse)")
                      strong Date Of Birth
                  th.text-center
                    a(href="", ng-click="reverse=!reverse;order('active', reverse)")
                      strong Status
                  th.text-center
                    strong Availability
                  th.text-center
                    strong Action
              tbody.no-bd-y
                tr(ng-repeat="emp in empData")
                  td(ng-bind="emp.first_name")
                  td(ng-bind="emp.last_name")
                  td
                    img.img-responsive(ng-src="{{siteurl}}:3030/public/{{emp.prof_image}}", width="120", height="120", ng-if="emp.prof_image")
                  td {{emp.address.line1}} {{emp.address.line2}}
                  td(ng-bind="emp.date_of_birth | date: 'yyyy-MM-dd'")
                  //td {{emp.active}} 
                  td(ng-if="emp.active == true") 
                    | Active
                  td(ng-if="emp.active !== true") 
                    .label.label-danger In Active
                  td.text-center
                    a.btn.btn-primary(href="/employee/availibility/:{{emp._id}}") Check
                  td.text-center
                    a.btn.btn-warning(href="/employee/edit/:{{emp._id}}") Edit 
            .row
              include paging.jade
