.page-title
  h3
    strong {{action}} Client
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name="clientForm", novalidate)
                .form-group
                  label.col-sm-2.control-label
                    | Name
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="John", ng-model="client.name", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Street 1
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="street 1", ng-model="client.address.street1", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Street 2
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="Street 2", ng-model="client.address.street2", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | City
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="California", ng-model="client.address.city", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | State
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="Cansas", ng-model="client.address.state", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Zip
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="654321", ng-model="client.address.zip", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Description
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="Add some text about the client", ng-model="client.description", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Contact Name
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="John Major", ng-model="client.contact_name", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Contact Email
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type="text", placeholder="user@example.com", ng-model="client.contact_email", required="required")
                //
                  .form-group
                    label.col-sm-2.control-label
                      | Contact Phone
                      span.asterisk *
                    .col-sm-7
                      input.form-control(type="text", placeholder="9087654321", ng-model="client.contact_phone", required="required")
                  .form-group
                    label.col-sm-2.control-label
                      | Contact Fax
                      span.asterisk *
                    .col-sm-7
                      input.form-control(type="text", placeholder="456789043", ng-model="client.contact_fax", required="required")
                .form-group
                  label.col-sm-2.control-label
                    | Is Account
                  .col-sm-7
                    select.btn(ng-model="client.is_account", ng-init="client.is_account='Yes'")
                     option Yes
                     option No
                .form-group
                  label.col-sm-2.control-label
                    | Is Active
                  .col-sm-7
                    select.btn(ng-model="client.is_active", ng-init="client.is_active='Yes'")
                     option Yes
                     option No
                .form-group#addCnct(ng-click="addCnt()")
                  label.col-sm-2.control-label
                    button.btn.btn-warning.m-t-10
                      i.fa
                      | Add Contact &#43;
                  .col-sm-7
                    | &nbsp;
                .form-group(ng-repeat="item in items")
                  label.col-sm-2.control-label
                    | Contact Number {{$index + 1}}
                  .col-sm-5
                    input.form-control(type="text", ng-model="cnctnum[$index]")
                  .col-sm-2
                    select.btn(ng-options="type.value as type.name for type in types", ng-init="cncttype[$index] = types[0].value", ng-model="cncttype[$index]")
                  .col-sm-1
                    img.remCls(src="http://img.informer.com/icons/png/16/3225/3225535.png", ng-click="remCl($index)")              
              .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-default.m-r-10.m-t-10(ng-click="cleardata()")
                  i.fa.fa-reply
                  | Clear
                button.btn.btn-success.m-t-10(ng-click="addClient(client)")
                  i.fa.fa-check
                  | Save changes