// h1 Welcome {{ userFullData.first_name }}
.alert.alert-warning.fade.in(ng-if="!password_change")
  button.close(type="button", data-dismiss="alert", aria-hidden="true") &#215;
  strong Please update your password!
.row
  .col-md-12.col-sm-12.col-xs-12
    .alert.alert-success.fade.in
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &#215;
      strong Welcome Event Manager!
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
.row.m-b-10
  .m-t-10
  .col-md-6
    .panel
      .panel-body
        ul.list-unstyled.profile-nav.col-md-4
          li
            img.animated.flipInY(ng-src="/img/avatars/avatar4_big.png", alt="avatar 4", ng-if="prof_image == 'test'")
            img.animated.flipInY(ng-src="{{siteurl}}:3030/public/{{prof_image}}", alt="user avatar", ng-if="prof_image !== 'test'")
        .col-md-8
          .row
            .col-md-12.profile-info
              h1 {{user.first_name}}
              h4 Address
              address
                | {{user.address.line1}} {{user.address.line2}}, {{user.address.city}} {{user.address.state}} {{user.address.zip}}
  .col-md-6
    .col-md-12
      .row
        .panel.panel-default.company-memo
          .panel-heading.no-bd.bg-dark
            h3.panel-title
              i.fa.fa-list-alt
              | Company Memos
          .panel-body.withScroll
            ul
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font John Smith
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font Mike Mills
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font Mike Mills
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font John Smith
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font John Smith
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                .chat-body.clearfix
                  .header
                    strong.primary-font John Smith
                    small.pull-right.text-muted.mark_read
                      input(type="checkbox")
                      | Mark as read
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
.row.m-b-10
  .col-md-6
    .panel
      .panel-body
        .row
          .col-md-12
            #graph-wrapper
              .graph-info.p-r-10
                a.btn.bg-green(href="javascript:void(0)") Visitors
                a.btn.bg-blue(href="javascript:void(0)") Returning Visitors
                button#bars.btn(href="#", disabled="")
                  span
                button#lines.btn.active(href="#", disabled="")
                  span
              .h-300
                #graph-lines.h-300(style="width:100%")
                #graph-bars.h-300(style="width:100%")
  .col-md-6
    .panel
      .panel-heading.no-bd.bg-dark
        h3.panel-title
          i.fa.fa-clock-o
          | Hours Worked
      .panel-body
        .row
          .col-lg-8.col-lg-offset-2.col-md-12
            #donut-chart1.m-t-m30.m-b-m20
.row.m-b-10
  .col-lg-6.m-b-20
    .panel.panel-default.rating
      .panel-heading.clearfix.pos-rel
        .pos-abs.top-12.l-15.f-18.c-gray
          i.fa.fa-star-o
        h2.panel-title.width-100p.c-red.text-center.w-500.f-20.carrois Reviews

