.page-title
  h3
    strong Change Password
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name="editpasswordForm")
                .form-group
                  label.col-sm-3.control-label
                    | Current Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type="password", ng-model="password.curr_pass", required="required")
                .form-group
                  label.col-sm-3.control-label      
                    | New Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type="password", ng-model="password.new_pass", required="required")
                .form-group
                  label.col-sm-3.control-label      
                    | Re Type New Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type="password", ng-model="password.new_retype_pass")
              .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-success.m-t-9(href="#" ng-click="editPassword(password)")
                  i.fa.fa-check
                  | Save changes

