.verticalcenter
  h1.brand
    i.fa.fa-th-large
    | Event
    b Manager
  .panel.login
    .panel-body
      h4.text-center(style="margin-bottom: 25px") Reset Your Password
      form.form-horizontal(style="margin-bottom: 0px;", ng-submit="forgetpassword()")
        .form-group
          .col-sm-12
            .input-group
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type="email", placeholder="user@example.com", ng-model="credentials.email", autofocus="autofocus", required="required")
        .pull-left
          | Back to 
          a(href="/login") Login
        .pull-right
          button.btn.btn-primary(type="submit") Reset Password