nav#sidebar-nav
  ul#dashboard-menu.nav
    //- li.divider
    li
      a(href="/dashboard")
        i.fa.fa-home
        |  Dashboard
    li
      a(href="/users")
        i.fa.fa-user
        |  Employees
