<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <div class="navbar-center">Dashboard</div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown" id="notifications-header">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="glyph-icon flaticon-notifications"></i>
                            <span class="badge badge-danger badge-header">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">Notifications</p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list withScroll" data-height="220">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                                            Steve have rated your photo
                                            <span class="dropdown-time">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                                            John added you to his favs
                                            <span class="dropdown-time">15 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file-text p-r-10 f-18"></i>
                                            New document available
                                            <span class="dropdown-time">22 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                            New picture added
                                            <span class="dropdown-time">40 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                                            Meeting in 1 hour
                                            <span class="dropdown-time">1 hour</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-bell p-r-10 f-18"></i>
                                            Server 5 overloaded
                                            <span class="dropdown-time">2 hours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                                            Bill comment your post
                                            <span class="dropdown-time">3 hours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                            New picture added
                                            <span class="dropdown-time">2 days</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="#" class="pull-left">See all notifications</a>
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN MESSAGES DROPDOWN -->
                    <li class="dropdown" id="messages-header">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="glyph-icon flaticon-email"></i>
                            <span class="badge badge-primary badge-header">
                             8
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">
                                    Messages
                                </p>
                            </li>
                            <li class="dropdown-body">
                                <ul class="dropdown-menu-list withScroll" data-height="220">
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src="/img/avatars/avatar3.png" alt="avatar 3">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>Alexa Johnson</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src="/img/avatars/avatar4.png" alt="avatar 4">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>John Smith</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>47 mins ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src="/img/avatars/avatar5.png" alt="avatar 5">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>Bobby Brown</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>1 hour ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src="/img/avatars/avatar6.png" alt="avatar 6">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>James Miller</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>2 days ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="mailbox.html" class="pull-left">See all messages</a>
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END MESSAGES DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src="/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
                            <span class="username">Bob Nilson</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="profil.html">
                                    <i class="glyph-icon flaticon-account"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="calendar.html">
                                    <i class="glyph-icon flaticon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="profil_edit.html">
                                    <i class="glyph-icon flaticon-settings21"></i> Account Settings
                                </a>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
                                    <i class="glyph-icon flaticon-fullscreen3"></i>
                                </a>
                                <a href="lockscreen.html" title="Lock Screen">
                                    <i class="glyph-icon flaticon-padlock23"></i>
                                </a>
                                <a href="login.html" title="Logout">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                    <!-- BEGIN CHAT HEADER -->
                    <li id="chat-header">
                        <a href="#" class="c-white" id="chat-toggle">
                            <i class="glyph-icon flaticon-speech76 f-24"></i>
                            <span id="chat-notification" class="notification notification-danger hide" data-delay="2000"></span>
                        </a>
                        <div id="chat-popup" class="chat-popup hide" data-delay="2000">
                            <div class="arrow-up"></div>
                            <div class="chat-popup-inner bg-blue">
                                <div>
                                    <div class="clearfix w-600">
                                        <img src="/img/avatars/avatar3.png" alt="avatar 3" width="30" class="pull-left img-circle p-r-5">Alexa Johnson</div>
                                    <div class="message m-t-5">Hey you there?</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END CHAT HEADER -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>

<div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
			abc
            <div ng-include="'/templates/admins/helloworld.html'">
                
            </div>
            <div class="footer-widget">
                <div class="footer-gradient"></div>
                <div class="sidebar-footer clearfix">
                    <a class="pull-left" href="profil_edit.html" rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                    <a class="pull-left" href="lockscreen.html" rel="tooltip" data-placement="top" data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
                    <a class="pull-left" href="login.html" rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
                </div> 
            </div>
        </nav>
        <!-- END MAIN SIDEBAR -->


        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
            <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="alert alert-success fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Welcome to Event Manager!</strong> 
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                         <!--
                        <div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                        <div class="alert alert-warning fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.
                        </div>
                        <div class="alert alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            <p>
                                <button type="button" class="btn btn-danger m-t-10 m-r-10">Take this action</button>
                                <button type="button" class="btn btn-default m-t-10">Or do this</button>
                            </p>
                        </div>
                        -->
                    </div>
             </div>
            
             <div class="row m-b-10">
                <div class="m-t-10"></div>
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-body">
                    <ul class="list-unstyled profile-nav col-md-4">
                        <li>
                            <img src="/img/avatars/avatar4_big.png" alt="avatar 4" class="animated flipInY" />
                        </li>
                    </ul>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <h1>Bob Nilson</h1>
                                <h4>Address</h4>
                                <address>
                                   36th Edward Street, Ringstone state Country 23514
                                </address>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                    <div class="panel panel-default company-memo">
                        <div class="panel-heading no-bd bg-dark">
                            <h3 class="panel-title"><i class="fa fa-list-alt"></i> Company Memos</h3>
                        </div>
                        <div class="panel-body withScroll">
                            <ul>
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">John Smith</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Mike Mills</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                   
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Mike Mills</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                
                                <li class="left clearfix">
                                    
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">John Smith</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">John Smith</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                   
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">John Smith</strong> 
                                            <small class="pull-right text-muted mark_read"><input type="checkbox"> Mark as read</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
                                                
           <!-- <div class="row m-t-10">
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-blue p-15">
                            <div class="row m-b-10">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-visitors"></i>
                                </div>
                                <div class="col-xs-9">
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="56">
                                        <div>
                                            <small class="stat-title">Visits today</small>
                                            <h1 class="m-0 w-300">25 610</h1>
                                        </div>
                                        <div>
                                            <small class="stat-title">Visits yesterday</small>
                                            <h1 class="m-0 w-300">22 420</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">New Visitors</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-300">37.5%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-300">34.2%</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Bounce Rate</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-500">5.6%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-500">7.4%</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-red p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-educational"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">PAGES VIEW</small>
                                    <h1 class="m-0 w-500">201k</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Duration</small>
                                    <h3 class="m-0 w-500">18:25</h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Pages / visits</small>
                                    <h3 class="m-0 w-500">21</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-green p-15">
                            <div class="row m-b-0">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-orders"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">ORDERS THIS MONTH</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="47">
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">148</h1>
                                        </div>
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">+28%</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">126</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$12,545</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">41</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$4,237</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-dark p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-incomes"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">INCOMES THIS MONTH</small>
                                    <h1 class="m-0 w-500">$<span class="animate-number" data-value="42567" data-animation-duration="1400">0</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="38547" data-animation-duration="1400">0</span></h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="8754" data-animation-duration="1400">0</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>--> 
            
            <div class="row m-b-10">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="graph-wrapper">
                                        <div class="graph-info p-r-10">
                                            <a href="javascript:void(0)" class="btn bg-green">Visitors</a>
                                            <a href="javascript:void(0)" class="btn bg-blue">Returning Visitors</a>
                                            <button href="#" id="bars" class="btn" disabled><span></span>
                                            </button>
                                            <button href="#" id="lines" class="btn active" disabled><span></span>
                                            </button>
                                        </div>
                                        <div class="h-300">
                                            <div class="h-300" id="graph-lines" style="width:100%"></div>
                                            <div class="h-300" id="graph-bars" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                         <div class="panel-heading no-bd bg-dark">
                            <h3 class="panel-title"><i class="fa fa-clock-o"></i>Hours Worked</h3>
                        </div>
                         <div class="panel-body">
                              <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 col-md-12">
                                        <div id="donut-chart1" class="m-t-m30 m-b-m20"></div>
                                    </div>
                        	   </div>
                    	  </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-lg-5 m-b-20">
                    <div class="panel panel-default rating">
                        <div class="panel-heading clearfix pos-rel">
                            <div class="pos-abs top-12 l-15 f-18 c-gray"><i class="fa  fa-star-o "></i>
                            </div>
                            <h2 class="panel-title width-100p c-red text-center w-500 f-20 carrois">Reviews</h2>
                            <!--<div class="pos-abs t-10 r-5 f-18 c-red cursor-pointer">
                                <div class="glyph-icon flaticon-plus16 f-32"></div>
                            </div>-->
                        </div>
                        <div class="panel-body messages">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="withScroll" data-height="368">
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar13_big.png" alt="avatar 13" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <p class="f-14 c-gray italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar12_big.png" alt="avatar 12" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <p class="f-14 c-gray italic">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar11_big.png" alt="avatar 11" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <p class="f-14 c-gray italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar10_big.png" alt="avatar 10" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <p class="f-14 c-gray italic">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar9_big.png" alt="avatar 9" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <p class="f-14 c-gray italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar8_big.png" alt="avatar 8" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <p class="f-14 c-gray italic">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="/img/avatars/avatar7_big.png" alt="avatar 7" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <p class="f-14 c-gray italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    <div class="stars rating"> 
                                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 m-b-20">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix pos-rel">
                            <div class="pos-abs top-12 l-15 f-18 c-gray"><i class="fa fa-calendar"></i>
                            </div>
                            <h2 class="panel-title width-100p c-red text-center w-500 f-20 carrois">Schedule Calendar</h2>
                            <!--<div class="pos-abs t-10 r-5 f-18 c-red cursor-pointer">
                                <div class="glyph-icon flaticon-plus16 f-32"></div>
                            </div>-->
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Day</th>
                                                <th>Date</th>
                                                <th>Location</th>
                                                <th>Shift</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sunday</td>
                                                <td>June 20, 2014</td>
                                                <td>Australia</td>
                                                <td>9:00am - 4:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Monday</td>
                                                <td>May 14, 2014</td>
                                                <td>Poland</td>
                                                <td>10:00am - 7:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Tuesday</td>
                                                <td>April 13, 2014</td>
                                                <td>India</td>
                                                <td>4:00pm - 12:00am</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Wednesday</td>
                                                <td>July 01, 2014</td>
                                                <td>South Africa</td>
                                                <td>1:00pm - 9:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Thursday</td>
                                                <td>April 11, 2014</td>
                                                <td>USA</td>
                                                <td>11:00am - 6:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Friday</td>
                                                <td>June 24, 2014</td>
                                                <td>Brazil</td>
                                                <td>9:00pm - 6:00am</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Saturday</td>
                                                <td>June 27, 2014</td>
                                                <td>China</td>
                                                <td>9:00am - 4:00pm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
        <!-- END MAIN CONTENT -->

    </div>

<nav id="menu-right">
        <ul>
            <li class="mm-label label-big">ONLINE</li>
            <li class="img no-arrow have-message">
                <span>
                    <i class="online"></i>
                    <img src="/img/avatars/avatar3.png"/>
                    <div class="chat-name">Alexa Johnson</div>
                    <div class="pull-right badge badge-danger hide">3</div>
                    <div >Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <li class="img"><span><div class="chat-detail"><img src="/img/avatars/avatar3.png"/><div class="chat-bubble">Hi you!</div></div></span>
                    </li>
                    <li class="img"><span><div class="chat-detail"><img src="/img/avatars/avatar3.png"/><div class="chat-bubble">You there?</div></div></span>
                    </li>
                    <li class="img"><span><div class="chat-detail"><img src="/img/avatars/avatar3.png"/><div class="chat-bubble">Let me know when you come back</div></div></span>
                    </li>
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="online"></i>
                    <img src="/img/avatars/avatar2.png" alt="avatar 2"/>
                    <div class="chat-name">Bobby Brown</div>
                    <div>New York</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="busy"></i>
                    <img src="/img/avatars/avatar13.png" alt="avatar 13"/>
                    <div class="chat-name">Fred Smith</div>
                    <div>Atlanta</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="away"></i>
                    <img src="/img/avatars/avatar4.png" alt="avatar 4"/>
                    <div class="chat-name">James Miller</div>
                    <div>Seattle</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="online"></i>
                    <img src="/img/avatars/avatar5.png" alt="avatar 5"/>
                    <div class="chat-name">Jefferson Jackson</div>
                    <div>Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="mm-label label-big m-t-30">OFFLINE</li>

            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar6.png" alt="avatar 6"/>
                    <div class="chat-name">Jordan</div>
                    <div>Savannah</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar7.png" alt="avatar 7"/>
                    <div class="chat-name">Kim Addams</div>
                    <div>Birmingham</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar8.png" alt="avatar 8"/>
                    <div class="chat-name">Meagan Miller</div>
                    <div>San Francisco</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                        <i class="offline"></i>
                        <img src="/img/avatars/avatar9.png" alt="avatar 9"/>
                        <div class="chat-name">Melissa Johnson</div>
                        <div>Austin</div>
                    </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar12.png" alt="avatar 12"/>
                    <div class="chat-name">Nicole Smith</div>
                    <div>San Diego</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar11.png" alt="avatar 11"/>
                    <div class="chat-name">Samantha Harris</div>
                    <div>Salt Lake City</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="/img/avatars/avatar10.png" alt="avatar 10"/>
                    <div class="chat-name">Scott Thomson</div>
                    <div>Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
        </ul>
    </nav>